# --- Web Backend & API ---
fastapi
uvicorn
pydantic
httpx

# --- Agentic AI Framework ---
langchain
langchain-core

# --- The "Ears" & Crawlers ---
feedparser
praw
yt-dlp

# --- Task Scheduling (Background Jobs) ---
celery
redis

# --- Computer Vision & Math ---
transformers
opencv-python-headless
Pillow

# --- Vector Database ---
pinecone-client

asyncpraw
asyncprawcore
boto3
botocore
google-api-python-client
ImageHash
librosa
numpy
python-dotenv
scipy
torch
torchvision
tqdm
